
    <div class="container py-5 z-1 justify-content-center" style="background-image: url('@Url.Content("~/Content/assets/img/Catalogolimedicavirtual.jpg")'); background-size: cover; background-repeat: no-repeat; ">
        <div class="col-10 ">
            <div class="display-6 mb-3 text-light limedica-catalogo-virtual-text-1 limedica-catalogo-virtual-text-1-1">
                DESCUBRE
                NUESTRO
            </div>
            <div class="display-4 mb-3 text-light limedica-catalogo-virtual-text-2 limedica-catalogo-virtual-text-2-2">
                Catálogo
                Limedica Virtual
            </div>
            <div class="display-4 text-center mb-3" id="limedica-catalogo-button">
                <a class="btn-limedica  btn-limedica-primary fw-500" href="@Url.RouteUrl("Catalogo")">
                    Ver
                    más
                </a>
            </div>

        </div>
        <div class="col-2"> </div>
    </div>



