<form>

    <div class="limedica-cupon-aplica mt-5">
        <input class="form-control" type="text" placeholder="Codigo del cupón" aria-label="Codigo del cupón" aria-describedby="button-addon2" />
        <button class="btn-limedica btn-limedica-secondary" type="submit">aplicar</button>
    </div>

</form>