@model  IEnumerable<Web.Xmarket.Models.Coleccion.ColeccionSlide>

@if (Model.Any())
{
    <div class="slider-content-titulo">

        <h2 class="mb-4 home-titulo">Colecciones</h2>
        <div class="slider-direccion">
            <div class="slider-atras" onclick="avanzaSlideColeccion(-1)"><img src="@Url.Content("~/Content/assets/img/iconos/back-product-slide.svg")" alt="Ir atras slide"></div>
            <div class="slider-adelante" onclick="avanzaSlideColeccion(1)"><img src="@Url.Content("~/Content/assets/img/iconos/next-product-slide.svg")" alt="Ir adelante slide"></div>
        </div>
    </div>
    <div class="slide-contenedor">
        @Html.Partial("_coleccion_slide", Model)
    </div>
    <div class="display-4 text-center mb-3">
        <a class="btn-limedica btn-limedica-secondary " id="linkMasColeccion"
           href="@Url.RouteUrl("Coleccion")">
            Ver
            más
        </a>
    </div>
}