@using Seguridad.Common;
@using System.Collections;
@using Web.Common.HtmlHelpers
@using QueryContracts.Xmarket.Especialidad.Parameters
@using QueryContracts.Xmarket.Especialidad.Result
@using QueryContracts.Xmarket.Editorial.Parameters
@using QueryContracts.Xmarket.Editorial.Result
@using ServiceAgents.Common


@{


}


<nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
    <div class="container text-center justify-content-center">
        <a class="" href="~/"> <img src="@Url.Content("~/Content/assets/img/logo-header.svg")" /> </a>

        
    </div>
</nav>
