<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.3.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="EntityFramework.es" version="6.2.0" targetFramework="net48" />
  <package id="FluentScheduler" version="5.5.1" targetFramework="net48" />
  <package id="FluentValidation" version="8.6.2" targetFramework="net48" />
  <package id="FuzzySharp" version="2.0.2" targetFramework="net48" />
  <package id="GroupDocs.Watermark" version="22.12.1" targetFramework="net48" />
  <package id="jQuery" version="3.7.1" targetFramework="net48" />
  <package id="jQuery.UI.Combined" version="1.13.2" targetFramework="net48" />
  <package id="jQuery.Validation" version="1.20.0" targetFramework="net48" />
  <package id="knockoutjs" version="3.5.1" targetFramework="net48" />
  <package id="MailKit" version="4.6.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Providers.Core" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Providers.Core.es" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Providers.LocalDB" version="2.0.1" targetFramework="net48" />

  <package id="Microsoft.AspNet.WebApi" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client.es" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core.es" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost.es" version="5.3.0" targetFramework="net48" />

  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.2.6" targetFramework="net48" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="4.0.0" targetFramework="net48" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net48" />
  <package id="Microsoft.Net.Http.es" version="2.0.20710.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Cors" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net48" />
 
  <package id="MimeKit" version="4.6.0" targetFramework="net48" />
  <package id="Modernizr" version="2.8.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />

  <package id="Rotativa" version="1.6.4" targetFramework="net48" />
  <package id="StructureMap" version="4.7.1" targetFramework="net48" />
  <package id="SymSpell" version="6.7.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="8.0.0" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="6.0.1" targetFramework="net48" />
  <package id="System.Reactive.Interfaces" version="6.0.1" targetFramework="net48" />
  <package id="System.Reactive.Linq" version="6.0.1" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Caching" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WebGrease" version="1.6.0" targetFramework="net48" />
</packages>