@model Web.Xmarket.Models.Account.CambiarPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Limedica ERP | Cambiar Contraseña</title>
    <meta name="robots" content="noindex, nofollow">

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


</head>


<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>LIMEDICA</b> ERP
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">

            <p class="login-box-msg">CAMBIAR CLAVE</p>



        </div>
       
        </div>
</body>
</html>
