@model Web.Xmarket.Models.Carrito.CheckOutCompletadoModel
@{

    Layout = "~/Views/Shared/_LayoutCarrito.cshtml";
}

@section Styles {
    <meta name="robots" content="noindex, nofollow">

    <link href="@Url.Content("~/Content/css/style_limedica_input.css")" rel="stylesheet">

}



<!-- Header-->
<header class="bg-header">
    <div class="container">
        <div class="row gx-5 align-items-center pb-5">

            <div class="header-producto" style="">

                <div class="limedica-carrito">

                    <div class="slider-body-path-checkout mt-5">

                        <div>
                            <span class="limedica-path activo-path-checkout">1. Carrito </span>


                        </div>


                        <div class="mx-2 limedica-checkout-linea">
                            <div class="limedica-checkout-linea-item"></div>

                        </div>

                        <div>
                            <span class="limedica-path activo-path-checkout">2. Entrega </span>

                        </div>
                        <div class="mx-2 limedica-checkout-linea">
                            <div class="limedica-checkout-linea-item"></div>

                        </div>
                        <div>
                            <span class="limedica-path activo-path-checkout">3. Pago </span>

                        </div>
                        <div class="mx-2 limedica-checkout-linea">
                            <div class="limedica-checkout-linea-item"></div>

                        </div>
                        <div>
                            <span class="limedica-path activo-path-checkout">4. Pedido Completado  </span>

                        </div>
                    </div>


                    <div class="row limedica-carrito-body mt-5">

                        <div class="col-m-12">




                            <div class="limedica-checkout-mensaje-completado text-center">

                                <div class="limedica-checkout-mensaje-titulo">¡MUCHAS GRACIAS POR SU COMPRA! </div>
                                <div class="limedica-checkout-mensaje-detalle">Lo estamos informado por su correo sobre el estado de su pedido </div>


                            </div>

                            <br />

                            <div class="text-center"><a href="~/" class="" title="Seguir comprando">SEGUIR COMPRANDO</a></div>



                        </div>



                    </div>

                </div>

            </div>
        </div>
    </div>
</header>

